.container{
    display:grid;
    grid-template-columns: 50% auto;  
}
input.text{
    border:0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em; 
}

input.button{
    border:0;
    display: block;
    padding: 1em 3em;
    background:#41beaf;
    cursor: pointer;
    margin-bottom: 1em; 
}